#include <windows.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

#ifdef _WIN64
1 TYPELIB "../Intermediate/Win64/HTDialog/HTDialog.tlb"
#else
1 TYPELIB "../Intermediate/Win32/HTDialog/HTDialog.tlb"
#endif

1 HTML usage.html

1 RT_MANIFEST manifest.xml

//
// Version Information resources
//
VS_VERSION_INFO VERSIONINFO
    FILEVERSION     1,0,0,0
    PRODUCTVERSION  1,0,0,0
    FILEOS          VOS_NT_WINDOWS32
    FILETYPE        VFT_DLL
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   VS_FF_DEBUG | VS_FF_PRERELEASE | VS_FF_PATCHED | VS_FF_PRIVATEBUILD | VS_FF_INFOINFERRED | VS_FF_SPECIALBUILD
    FILEFLAGS       VS_FF_INFOINFERRED
{
    BLOCK "StringFileInfo"
    {
        BLOCK "000004B0"
        {
            VALUE "Comments", "Freeware"
            VALUE "CompanyName", "Jochen Neubeck"
            VALUE "FileDescription", "HTDialog"
            VALUE "FileVersion", "1.0"
            VALUE "InternalName", "HTDialog"
            VALUE "LegalCopyright", "© 2018 Jochen Neubeck"
            VALUE "OriginalFilename", "htdialog.exe"
            VALUE "ProductName", "HTDialog"
            VALUE "ProductVersion", "1.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0000, 0x04B0
    }
}
